<div tabindex="0" ng-keypress="hotAttemptSet($event)">
  <div ng-show="!optionsPicked">
    GAME MODE
    <div>
      <span ng-repeat="option in deckTypes" ng-click="selectDeckType(option.type)" src="/images/setimages/emptyset.png" ng-class="{'highlighted':decktype==option.type}">{{option.text}}</span>
    </div>
    TIME LIMIT
    <div>
      <span ng-repeat="option in timerTypes" ng-click="selectTimerType(option.type)" ng-class="{'highlighted':timer==option.type}"src="/images/setimages/emptyset.png">{{option.text}}</span>
    </div>
    NUMBER OF PLAYERS
    <div>
      <input type="range" min="1" max="4" ng-init="players=1" ng-model="players"> {{players}}
    </div>
    <div ng-click="goToGame(players)">PLAY GAME</div>
  </div>



  <div ng-show="optionsPicked">
    <!-- <div ng-show="timerType==tenminutes"></div> -->
    <span ng-repeat="player in setPlayers" ng-click="attemptSet(player.id)"  class={{player.color}}>{{player.text}}</span>
    </br><span ng-repeat="player in setPlayers" class={{player.color}}>{{player.color}} points: {{player.points}}</span>
    
    <div ng-show="timer!='notimer'">TIME:{{ timer | date: 'mm:ss'}} </div>
    <div>SET ATTEMPT TIMER:{{ attemptTimer | date: 's'}}</div>
    <div class="board">
      <div ng-repeat="card in board track by $index" class="test card-block">
        <img ng-click="selectCard($index)" ng-class="{'highlighted': inSelectedCards($index)}" ng-src={{card.location}}>
      </div>
      <div>{{answer}}</div>
    </div>
  </div>
</div>