body {
  font-family: sans-serif;
}

.highlighted {
  background-color: blue;
}

div {
  cursor:pointer;
}

.test{
  display:inline-block;
}

.card-block{
/*  width:200px;
  height:150px;*/
  /*padding:20px 40px;*/
}

.board{
  width:800px;
  height:450px;
}

div:focus {
    outline:none;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}
/*.make-fat{
  padding:200px 150px;
}*/